* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #1C1C1C;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.container {
    width: 400px;
    background-color: #1F2937;
    padding: 40px 20px;
    border-radius: 5px;
}

h1 {
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 800;
}

h1 span {
    color: #10B981;
    display: block;
    line-height: 1.1;
}

h2 {
    font-weight: 200;
    margin-bottom: 15px;
}

.small-text {
    font-size: 14px;
    opacity: 0.8;
}

.btn {
    background-color: #09714F;
    color: inherit;
    border: none;
    padding: 7px 14px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    margin-bottom: 30px;
}

.btn:hover {
    filter: brightness(90%);
}

.btn:active {
    filter: brightness(80%);
}

hr {
    margin-bottom: 15px;
    opacity: 0.2;
}

.output-controls {
    display: flex;
    gap: 10px;
}

.password-output {
    min-height: 30px;
    background-color: #2F3E53;
    cursor: pointer;
    color: inherit;
    padding: 5px 10px;
    border-radius: 4px;
    flex: 1;
}

.password-output:focus-visible {
    outline: 2px solid #10B981;
    outline-offset: 2px;
}

.toggle-container {
    margin-bottom: 10px;
}

.toggle-container:last-child {
    margin-bottom: 0;
}


input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.toggle {
    display: inline-block;
    width: 42px;
    height: 22px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:focus-visible + .slider{
    outline: 2px solid #10B981;
    outline-offset: 2px;
}

label[class="toggle-label"] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.slider {
    position: absolute;
    background-color: #2F3E53;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    transition: background-color .4s;
}


.slider:before {
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .4s, transform .4s;
}

input[type="checkbox"]:checked + .slider {
    background-color: #10B981;;
}
input[type="checkbox"]:checked + .slider:before {
    transform: translate(16px, -50%);
}